:root {
  --primary-color: #5755d9;
  --shadow-color: #cecdf4;
  --primary-light-color: #ebebfa;
  --font: "Lato", sans-serif;
  --title-font: "Nunito Sans", sans-serif;

  --spc: 4px;
  --spc-1-5x: calc(var(--spc) * 1.5);
  --spc-2x: calc(var(--spc) * 2);
  --spc-3x: calc(var(--spc) * 3);
  --spc-4x: calc(var(--spc) * 4);
  --spc-5x: calc(var(--spc) * 5);
  --spc-6x: calc(var(--spc) * 6);
  --spc-8x: calc(var(--spc) * 8);
  --spc-12x: calc(var(--spc) * 12);
  --spc-16x: calc(var(--spc) * 16);

  --card-w: calc(var(--spc) * 80);
  --card-h: calc(var(--spc) * 68);
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

button,
label,
input,
a,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  background: inherit;
}

a:hover,
a:visited,
a:focus {
  text-decoration: inherit;
  color: inherit;
}

html {
  font-family: var(--font);
  font-size: 12px;
  overflow-y: scroll;
  color: #41414e;
}

body {
  font-size: var(--spc-4x);
  margin: 0;
}

.hidden {
  display: none;
}

.AppList {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-w));
  grid-template-rows: repeat(auto-fill, var(--card-h));
  justify-content: center;
  grid-gap: var(--spc-8x);
}

.AppCard {
  width: var(--card-w);
  height: var(--card-h);
  padding: var(--spc-5x) var(--spc-8x);
  display: grid;
  grid-template-rows: auto auto minmax(10px, 1fr) auto;
  grid-gap: var(--spc-2x);
  border: 1px solid var(--shadow-color);
  border-radius: var(--spc-4x);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.AppCard > * {
  overflow: hidden;
}

.AppCard:hover {
  transform: translateY(calc(var(--spc-1-5x) * -1));
  box-shadow: 0px var(--spc-1-5x) 0px var(--shadow-color);
}

.AppCard__avatar {
  width: var(--spc-12x);
  height: var(--spc-12x);
}

.AppCard__actions {
  display: inline-flex;
  justify-content: end;
}

.AppCard__actions > * {
  margin-right: var(--spc-3x);
}

.AppCard__actions > *:last-child {
  margin-right: 0;
}

.AppCard__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppCard__header {
  display: flex;
  justify-content: space-between;
}

.AppCard__title {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

.AppDetail {
  display: flex;
  flex-direction: column;
}

.AppDetail__header {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-gap: var(--spc-6x);
}

.AppDetail__avatar {
  width: calc(var(--spc) * 30);
  height: calc(var(--spc) * 30);
  border: 2px var(--primary-light-color) solid;
  border-radius: var(--spc-3x);
}

.AppDetail__title {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  line-height: 0.8;
}

.AppDetail__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AppDetail__info > * > * {
  margin-right: var(--spc-1-5x);
}

.AppDetail__info > * > *:last-child {
  margin-right: 0;
}

.AppDetail__description {
  color: #41414e;
  font-size: 1.4rem;
  margin: var(--spc-4x) 0;
  line-height: 1.5;
}

.AppFilters {
  padding: 18px 24px;
  display: flex;
}

.AppFilters__filters {
  display: inline-grid;
  grid-gap: var(--spc-1-5x);
  grid-auto-flow: column;
  justify-content: center;
  flex-grow: 1;
}

.AppVersion {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--primary-color);
}

.Button {
  cursor: pointer;
  padding: var(--spc-2x) var(--spc-3x);
  border-radius: var(--spc-1-5x);
  display: inline-grid;
  grid-gap: var(--spc-1-5x);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid transparent;
  line-height: 1;
}

.Button .Icon path {
  fill: #fff;
}

.Button--primary {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
}

.Button--secondary {
  border: 1px solid var(--primary-light-color);
  color: var(--primary-color);
  background: var(--primary-light-color);
}

.Button--active {
  color: var(--primary-color);
  background: white;
}

.Button--active .Icon path {
  fill: var(--primary-color);
}

.Button--rounded {
  border-radius: 100%;
  padding: var(--spc-1-5x);
  justify-content: center;
  font-size: 1rem;
}

.Button--light {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
}

.Chip {
  display: inline-block;
  padding: var(--spc-1-5x) var(--spc-3x);
  background: var(--primary-light-color);
  border-radius: var(--spc-6x);
  color: var(--primary-color);
}

.Chip--active {
  color: var(--primary-light-color);
  background: var(--primary-color);
}

.Chip--interactive {
  cursor: pointer;
}

.Chip--interactive:hover {
  background: var(--primary-light-color);
}

.Dialog {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.Dialog__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: default;
  background: rgba(247, 248, 249, 0.75);
  z-index: -1;
}

.Dialog__content {
  position: relative;
  background: #fff;
  border-radius: var(--spc-3x);
  box-shadow: 0 var(--spc) var(--spc-1-5x) rgba(48, 55, 66, 0.3);
  display: flex;
  flex-direction: column;
  max-width: calc(var(--spc) * 180);
  width: 100%;
}

.Dialog__close {
  text-align: right;
  position: absolute;
  top: var(--spc-3x);
  right: var(--spc-3x);
}

.Dialog__title {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

.Dialog__body {
  padding: var(--spc-16x);
  flex-grow: 1;
}

.Header {
  background: var(--primary-color);
  padding: var(--spc-4x) var(--spc-6x);
  display: flex;
  align-items: center;
  color: white;
}

.Header > * {
  margin-right: var(--spc-3x);
}

.Header > *:last-child {
  margin-right: 0;
}

.Header__actions {
  display: inline-flex;
  align-items: center;
  justify-content: end;
}

.Header__logo {
  display: inline-grid;
  grid-gap: var(--spc-1-5x);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.Header__search {
  display: inline-flex;
  align-items: center;
  background: #2c2ac0;
  border-radius: var(--spc-1-5x);
  padding: var(--spc-2x) var(--spc-3x);
  display: grid;
  grid-gap: var(--spc-1-5x);
  grid-auto-flow: column;
  align-items: center;
  flex-grow: 1;
  justify-content: left;
}

.Header__search input {
  flex-grow: 1;
  color: white;
}

.Header__search input::placeholder {
  color: var(--shadow-color);
}

.Icon {
  width: 1em;
  height: 1em;
}

.Icon--big {
  width: 1.5em;
  height: 1.5em;
}

.Loader {
  position: relative;
  font-size: 1em;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left-color: white;
  animation: loader 1.1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ToastContainer {
  position: fixed;
  bottom: var(--spc-3x);
  right: var(--spc-3x);
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.Toast {
  border-radius: var(--spc-1-5x);
  padding:  var(--spc-2x)  var(--spc-3x);
  background: var(--primary-color);
  color: #fff;
  display: grid;
  grid-gap: var(--spc-1-5x);
  grid-auto-flow: column;
  align-items: center;
  margin-top: var(--spc-1-5x);
}
